@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    list-style: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    padding: 67px 0 16px 0;
    font-family: 'Montserrat', sans-serif;
}

/* header */
nav {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: sticky;

    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right-span {
    display: none;
    color: #1053B7;
    float: right;
    font-size: 25px;
    padding: 21px 0;
}

nav ul {
    margin-top: 20px;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #1053B7;
    font-family: 'Montserrat', sans-serif;

}

nav li {
    display: inline;
    list-style-type: none;
    margin-left: 40px;
}

.navbar:hover {
    border-bottom: 2px solid;
}

.btn-blu {
    background-color: #1053B7;
    border-radius: 5px;
    padding: 5px 60px;
    color: #ffff;
    border: 2px solid #1053B7;
}

.btn-blu:hover {
    background-color: #ffff;
    color: #1053B7;
    transition: all 0.3s;

}

/* homepage */
.top-wrapper {
    background-image: url(https://images.unsplash.com/photo-1648737155328-0c0012cf2f20?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
    background-size: cover;
    width: 100%;
    height: 700px;
    padding: 180px 0 100px 0;
    text-align: center;
}

.top-wrapper h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #ffff;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    text-align: center;
}

.lets {
    background-color: #1053B7;
    color: #ffff;
    padding: 10px 60px;
}

.lets:hover {
    background-color: #ffff;
    border: 2px solid #1053B7;
    color: #1053B7;
    transition: all 0.3s;
}

/* content */
.package-wrapper {
    background-color: #1053B7;
    margin-top: -5px;
    color: #ffff;
    float: left;
    width: 100%;
    margin-bottom: 35px;
}

.packages {
    padding-top: 15px;
    padding-left: 30px;
}

.heading h3,
.p-cat {
    text-align: center;
}

.card {
    margin: 0 auto;
    background-color: white;
    color: black;
    width: 350px;
    border-radius: 10px;
    float: left;
    margin-right: 45px;
    margin-bottom: 67px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.head-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}

.card h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: -10px;
    color: rgb(82, 82, 82);
}

.card .harga {
    font-family: 'Roboto', sans-serif;
}

.card p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 0 16px 0;
}

.remark {
    padding: 0 16px 0 16px;
}

.remark p h2 {
    padding-bottom: 5px;
}

.rating {
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    color: rgb(82, 82, 82);
}

.btn-card {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
    font-weight: medium;
}

.detail {
    background-color: white;
    color: #1053B7;
    padding: 5px 25px;
    border: 2px solid;
    border-radius: 5px;
    float: left;
    margin-bottom: 16px;
}

.detail:hover {
    color: #ffff;
    background-color: #1053B7;
    border: 2px solid #1053B7;
}

.pesan {
    background-color: #1053B7;
    color: #ffff;
    padding: 5px 50px;
    border: 2px solid #1053B7;
    border-radius: 5px;
    float: right;
}

.pesan:hover {
    background-color: #ffff;
    color: #1053B7;
}

/* category */
.category {
    margin-bottom: 20px;
}

.category-card {
    width: 15%;
    float: left;
    margin-right: 9px;
    display: grid;
}

.category-card:hover {
    filter: grayscale();
    transition: filter 0.3s ease-in-out;
}

.category-card img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.last {
    margin-right: 0px;
}

.category-card h3 {
    font-family: 'Montserrat', sans-serif;
}

/* about */
.about-us {
    margin-top: 245px;
    margin-bottom: 67px;
    border-top: 1px solid rgb(216, 216, 216);
}

.about {
    width: 100%;
    margin: 0 auto;
}

.profile {
    float: left;
    padding: 20px;
    width: 15%;
    border-radius: 10px;
    margin-right: 35px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
}

.profile:hover {
    color: #1053B7;
    border: 2px solid;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.ig-logo {
    width: 25px;
    height: 25px;
    display: block;
    margin: 5px 0px;
}

.fb-logo {
    width: 25px;
    height: 25px;
    display: block;
    margin: 5px 0px;
}

.tw-logo {
    width: 25px;
    height: 25px;
    display: block;
    margin: 5px 0px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    display: inline;
    border-radius: 50%;
}

.profile-name {
    font-size: 12px;
}

.clear {
    clear: left;
}

.sosmed {
    margin: 20px 0;
}

.sosmed a {
    color: #1053B7;
}

.sosmed-name {
    margin: 0 auto;
    vertical-align: top;
}

/* contact */
.contact {
    background-color: #ffff;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 100%;
}

.contact-card {
    display: inline-flex;
    margin: 67px 0 67px 137px;
    flex-direction: row;
    text-align: left;
    color: rgb(82, 82, 82);
}

.contacts-card {
    color: rgb(82, 82, 82);
    margin-right: 150px;
}

.contacts-card ul {
    padding: 0;
}

.contacts-card li {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-weight: bold;
    color: rgb(82, 82, 82);
}

.contacts-card h3 {
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    width: 124px;
    margin-top: 100px;
    float: left;
}

/* footer */
footer {
    position: absolute;
    width: 100%;
    background-color: #1053B7;
    text-align: center;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    margin-top: -18px;
}